ALU Project Report can be accessed with the below link

https://docs.google.com/spreadsheets/d/1cPF_Gght3qoDNXlJIzNzVeSlwHRGiiij/edit?usp=drive_link&ouid=112187536813331425212&rtpof=true&sd=true
